---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Hero from "~/components/Hero.astro";
import { Picture, Image } from "astro:assets";
import Badge from "~/components/Badge.astro";
import Button from "~/components/Button.astro";
import ButtonCallUs from "~/components/ButtonCallUs.astro";
import Grid from "~/components/Grid.astro";
import Heading from "~/components/Heading.astro";
import WideImage from "~/components/WideImage.astro";
import ReviewSlider from "~/components/ReviewSlider.astro";

// Images
import PizzaHero from "~/assets/images/pizza-hero.png";
import Pizza from "~/assets/images/pizza.png";
import Spaghetti from "~/assets/images/spaghetti.png";
import Fish from "~/assets/images/fish.png";
import DecorativeImage from "~/assets/images/pexels-shvetsa-5953523.jpg";
import reviewAuthors from "~/assets/images/review-authors.png";
import Dessert from "~/assets/images/dessert.png";
import Mussels from "~/assets/images/mussels2.png";
---

<Layout title="Osv Prestige" pageTitle="Osv Prestige" description="Eventos, asesoría y capacitación para restaurantes. Elevamos tu experiencia culinaria.">
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
				<Badge title="Excelencia Gastronómica" />
				<h1 class="font-black">Elevando la Experiencia Culinaria</h1>

				<p>
					Transformamos cada evento y restaurante con nuestra pasión por la gastronomía. Desde asesoría integral hasta la capacitación de personal y el diseño de cartas, creamos experiencias memorables.
				</p>

				<span class="text-brand-green font-medium">✔ Eventos Personalizados y Asesoría Profesional</span>

				<div class="mt-8 flex items-center gap-x-8">
					<Button url="/contacto">Contáctanos</Button>
					<ButtonCallUs />
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={PizzaHero}
					height={600}
					formats={["avif", "webp"]}
					alt="Presentación de platos de alta calidad."
					loading={"eager"}
					fetchpriority={"high"}
				/>
			</div>
		</Hero>
	</Section>

	<WideImage image={DecorativeImage} alt="Ambiente elegante de evento." class:list={"aspect-video lg:aspect-[16/6]"} />

	<Section class:list={"bg-white"}>
		<Heading>
			<h2 slot="heading-title" class="font-black text-brand-green h2">Nuestros Servicios</h2>
			<p slot="heading-content">
				Descubre cómo podemos transformar tu evento o restaurante con nuestros servicios especializados.
			</p>
		</Heading>

		<Grid>
			<div slot="grid-content-1">
				<div class="flex flex-col items-center prose text-center">
					<Picture
						class:list={"not-prose w-full h-auto"}
						src={Pizza}
						formats={["avif", "webp"]}
						alt="Asesoría para restaurantes."
					/>
					<h3 class="h4 mt-0 font-black">Asesoría Integral</h3>
					<p>
						Optimizamos tu restaurante con estrategias personalizadas, desde la gestión hasta la experiencia del cliente.
					</p>
				</div>
			</div>

			<div slot="grid-content-2">
				<div class="flex flex-col items-center prose text-center">
					<Picture
						class:list={"not-prose w-full h-auto"}
						src={Spaghetti}
						formats={["avif", "webp"]}
						alt="Capacitación de personal."
					/>
					<h3 class="h4 mt-0 font-black">Capacitación de Personal</h3>
					<p>
						Desarrollamos habilidades en tu equipo, asegurando un servicio de alta calidad y profesionalismo.
					</p>
				</div>
			</div>

			<div slot="grid-content-3">
				<div class="flex flex-col items-center prose text-center">
					<Picture
						class:list={"not-prose w-full h-auto"}
						src={Fish}
						formats={["avif", "webp"]}
						alt="Diseño de cartas."
					/>
					<h3 class="h4 mt-0 font-black">Diseño de Cartas</h3>
					<p>
						Creamos cartas atractivas y funcionales que resaltan tus platos y mejoran la experiencia del cliente.
					</p>
				</div>
			</div>
		</Grid>
	</Section>

	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose lg:order-2">
				<h1 class="font-black">Eventos Inolvidables</h1>

				<p>
					Nos especializamos en la creación de eventos únicos y memorables, adaptados a tus necesidades y superando tus expectativas.
				</p>

				<p>
					Desde cenas íntimas hasta grandes celebraciones, cada detalle es cuidadosamente planeado para garantizar el éxito de tu evento.
				</p>

				<div class="mt-8">
					<Button url="/eventos">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							class="size-5 inline-block"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
								clip-rule="evenodd"></path>
						</svg>
						Ver Eventos
					</Button>
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={PizzaHero}
					height={600}
					formats={["avif", "webp"]}
					alt="Eventos personalizados."
				/>
			</div>
		</Hero>
	</Section>

	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
				<Badge color="red" title="Exclusividad" />
				<h2 class="font-black h2 my-4">Experiencia Premium</h2>

				<span class="text-brand-red text-2xl font-bold italic">Platos Exclusivos y Servicios de Lujo</span>

				<p>
					Ofrecemos platos exclusivos y servicios de lujo para eventos y restaurantes que buscan la máxima calidad y distinción. Descubre el sabor de la excelencia.
				</p>

				<div class="mt-8">
					<Button color="red" url="/contacto">Solicita una Cotización</Button>
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={Mussels}
					height={600}
					formats={["avif", "webp"]}
					alt="Platos exclusivos."
				/>
			</div>
		</Hero>
	</Section>

	<Section class:list={"bg-brand-red/20 relative"}>
		<div class="py-16">
			<Hero>
				<div slot="hero-content-left" class="prose max-w-none order-2">
					<div class="text-center not-prose">
						<Badge color="white" title="Testimonios" />
					</div>
					<h2 slot="heading-title" class="font-black h4 text-center mt-0 mb-4">Lo que dicen nuestros clientes...</h2>
					<div slot="heading-content">
						<p class="text-center">
							Descubre cómo hemos transformado eventos y restaurantes con nuestros servicios.
						</p>

						<ReviewSlider />
					</div>
				</div>

				<div slot="hero-content-right">
					<Picture src={reviewAuthors} alt="Testimonios de clientes." class="w-full h-auto" />
				</div>
			</Hero>
		</div>

		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1440 320"
			class="absolute h-40 w-full top-0 inset-x-0 rotate-180"
			preserveAspectRatio="none"
			><path
				fill="#ffffff"
				fill-opacity="1"
				d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
			></path>
		</svg>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1440 320"
			class="absolute h-40 w-full bottom-0 inset-x-0"
			preserveAspectRatio="none"
			><path
				fill="#ffffff"
				fill-opacity="1"
				d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
			></path>
		</svg>
	</Section>

	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none">
				<Badge color="red" title="Contacto" />
				<h2 slot="heading-title" class="font-black text-brand-red h2 my-4">Contáctanos</h2>
				<div slot="heading-content">
					<p>
						Estamos listos para llevar tu evento o restaurante al siguiente nivel. Contáctanos para descubrir cómo podemos ayudarte.
					</p>

					<span class="text-brand-red font-medium">
						✔ Asesoría personalizada y soluciones a medida
					</span>

					<div class="mt-8">
						<Button color="red" url="/contacto">Solicitar Información</Button>
					</div>
				</div>
			</div>

			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={Dessert}
					height={600}
					formats={["avif", "webp"]}
					alt="Contacto Osv Prestige."
				/>
			</div>
		</Hero>
	</Section>
</Layout>